<div class="main-background-section">

    <div class="main-text-title">EnergyLeaders</div>     
    <div class="main-text-subTitle">The Project Exchange for the Oil & Gas Industry Leaders</div>
    
    <div class="center-content" Nostyle="border: 2px dashed red;">
      <div class="col-xs-12 col-md-7">

        <div class="col-xs-12 col-md-6 center-content spacing-between-buttons">
        <a href="#/register/company" class="btn btn-danger">Submit Your Project</a>        
        </div>

        <div class="col-xs-12 col-md-6 center-content spacing-between-buttons">
          <a href="#/register/consultant" class="btn btn-danger">Become A Consultant</a>  
        </div> 
      </div>
    </div>

<!--     <div class="col-md-12 center-content" style="border: 2px dashed red;">
      <div class="col-md-12 center-content">
        <div>
          <div class="col-xs-4 col-md-2 circle2-icon circle-spacing">
            <span class="number-spacing">1</span>
          </div>
        </div>
        <div>
          <div class="col-xs-4 col-md-2 circle2-icon circle-spacing">
            <span class="number-spacing">2</span></div>
        </div>
        <div>
          <div class="col-xs-4 col-md-2 circle2-icon circle-spacing">
            <span class="number-spacing">3</span>
          </div>
        </div> 
      </div>        
    </div> -->
<!-- 
    <div class="col-md-12 center-content" Nostyle="border: 2px dashed red;">

      <div class="col-xs-8 col-sm-10 col-md-12 center-content" style="border: 2px dashed green;">

        <div class="col-xs-4 col-md-1" style="border: 2px dashed white";>
          <div class="col-xs-12 col-md-12 circle2-icon ncircle-spacing" Nstyle="border: 8px dashed white;">
            <span class="number-spacing">1</span>
          </div>
        </div>
        
        <div class="col-xs-4 col-md-1" style="border: 2px dashed white";>
          <div class="col-xs-12 col-md-12 circle2-icon ncircle-spacing" Nstyle="border: 8px dashed white;">
            <span class="number-spacing">2</span>
          </div>
        </div>

        <div class="col-xs-4 col-md-1" style="border: 2px dashed white";>
          <div class="col-xs-12 col-md-12 circle2-icon ncircle-spacing" Nstyle="border: 8px dashed white;">
            <span class="number-spacing">3</span>
          </div>
        </div>

      </div> 

    </div>
 -->
</div>




