<div class="main-background-section">

    <span class="main-text-title">EnergyLeaders</span>     
    <span class="main-text-subTitle">The Project Exchange for the Oil & Gas Industry Leaders</span>
    
    <div class="center-content">
      <div class="col-xs-12 col-md-7">

        <div class="col-xs-12 col-md-6 center-content spacing-between-buttons">
        <a href="#/register/company" class="btn btn-danger">Submit Your Project</a>        
        </div>

        <div class="col-xs-12 col-md-6 center-content spacing-between-buttons">
          <a href="#/register/consultant" class="btn btn-danger">Become A Consultant</a>  
        </div>       

      </div>
    </div>

</div>


