<div class='row'>
  
  <!-- LEFT PANEL -->
  <!--div class="col-md-offset-1 col-md-4"-->
  <div class="col-md-4">
    <div class="well">

      <a ng-repeat="projects in projects" ng-href="#/projects/{{projects.projectId}}">
        <div class="list-group-item">
          <h4>{{projects.projectDescription.project_title}}</h4>
          <p> {{projects.commute}}</p>
          <p>{{projects.projectDescription.overview}}</p>
          <div class="list-group-separator"></div>        
        </div>
      </a>
      

    </div><!-- End of well -->
  </div><!-- END OF LEFT PANEL -->

  <!-- RIGHT PANEL -->
  <div class="col-md-8 project-position">
    
    <div class="well">
      <p>{{project.projectId}}</p>
      <h2>{{project.projectDescription.project_title}}</h2>
      <span>Posted: 
        <span am-time-ago="project.date_created"></span><!--find date time-->
      </span>

      <!-- DISCRIPTION -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default panel-spacing">
            <div class="panel-heading">
              <h3 class="panel-title">Project Description</h3>  
            </div>
            <div class="panel-body">
              {{project.projectDescription.overview}}
            </div> 
          </div>         
        </div>
      </div>

    </div><!-- End of well -->

  </div><!-- END OF RIGHT PANEL -->

</div>

