<div class="main-background-section">
  <div class="container">
    <span class="main-text-title">EnergyLeaders</span>     
    <span class="main-text-subTitle">The Consultant Exchange for the Oil & Gas Industry</span>
    <div class="center-content">
      <a href="#/register/company" class="btn btn-danger">Submit Your Project</a>
    </div>
  </div>
</div>

<div class="container main-bottom-spacing">    
  <span class="main-text-subTitle" style="color: black;" >Are you an experienced professional in the Oil & Gas Industry?</span>
  <div class="center-content">
    <a href="#/register/consultant" class="btn btn-danger">Become A Consultant</a>
  </div>
</div>  


