
<div class="center-content">
  
  <div class="col-xs-12 col-sm-10 col-md-8">
    <!-- CONSULTANT DETAILS -->
    <div no-ng-show="!listMode">
      <h2 class="titles-styling">{{consultant.first_name + ' ' + consultant.last_name}}</h2>
      
      <div class="row"><!-- TOP PANEL -->

        <div class="col-xs-12 col-sm-12 col-md-6">  
          <div classs="row">
            <div class="thumbnail col-xs-4 col-sm-4 col-md-6">
              <img class="img-circle" src="/images/profile_alternative.jpg" alt="/images/profile_alternative.jpg">
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 profile-info-spacing">
          <span>
            <span class="profile-title-style">Location: </span> 
            <span> {{consultant.location.city + ', ' + consultant.location.state + ', ' + consultant.location.country}}</span>
          </span><br>
          <span>
            <strong>Member Since: </strong> 
            <span> {{ consultant.date_created | amDateFormat: 'dddd, MMMM Do YYYY'}}</span>
          </span><br>
          <span>
            <strong>Total Completed Projects: </strong>
            <span> 3 Projects</span>
          </span><br><br>
          <span>
            <strong>Recommended Rating: </strong>
            <span> 9/10 <i class="fa fa-star fa-lg star-color"></i></span>
          </span>
        </div>

      </div><!-- End of TOP PANEL/Row -->

      <!-- CONSULTANT CONTENT PANEL -->
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default panel-spacing panel-outline-color">
            <div class="col-xs-12 col-md-12 panel-heading panel-heading-bottom-spacing" id="panel-heading-color">
              <h3 class="col-xs-6 col-md-6 panel-title char-left-alignment panel-title-center">Summary</h3> 

              <!-- EDIT - MODAL BUTTON -->
              <span ng-hide="!profile.summary"class="col-xs-6 col-md-6 char-right-alignment">
                <a class="btn btn-warning btn-sm button-margin" id="button-color" data-toggle="modal" data-target="#editSummaryModal"><i class="fa fa-pencil-square-o fa-lg"></i> Edit</a>
              </span>
            </div>

            <div class="panel-body">
              {{profile.summary}}

              <!-- ADD - MODAL BUTTON -->
              <a ng-hide="profile.summary" id="button-color" class="col-xs-12 col-md-12 btn btn-default btn-raised btn-sm" data-toggle="modal" data-target="#addSummaryModal"><i class="fa fa-plus edit-text-color"></i><span class="edit-text-color"> Add<span></a>     

            </div> 
          </div>

          <!-- EDUCATION PANEL -->
          <div class="panel panel-default panel-outline-color">
            <div class="col-xs-12 col-md-12 panel-heading panel-heading-bottom-spacing" id="panel-heading-color">
              <h3 class="col-xs-6 col-md-6 panel-title char-left-alignment panel-title-center">Education</h3>
              
              <!-- EDIT - MODAL BUTTON -->
              <span class="col-xs-6 col-md-6 char-right-alignment">
                <a class="btn btn-warning btn-sm button-margin" id="button-color" data-toggle="modal" data-target="#editEduModal"><i class="fa fa-pencil-square-o fa-lg"></i> Edit</a>
              </span>
            </div>

            <!-- EDUCATION PANEL BODY -->
            <div class="panel-body">

              <!-- INSTITUTION BATCH -->
              <div ng-repeat="schools in schools">
                <div class="col-md-12 char-left-alignment input-underline">
                  <span class="panel-sub-title">{{schools.school}}</span>
                </div>
                <!-- DEGREE COLUMN -->
                <div class="col-xs-6 col-md-6 char-left-alignment">  
                    <span ng-hide="!schools.deg">{{schools.deg + ', ' + schools.maj}}</span>
                </div>
                <!-- GRAD YEAR COLUMN -->
                <div class="col-xs-6 col-md-6 char-right-alignment">
                    <span ng-hide="!schools.year">Graduated: {{schools.year}}</span>
                </div>
                <span class="col-xs-12 col-md-12 batch-item-spacing"></span>
                
              </div><!--End Institution Batch --> 

              <!-- ADD - MODAL BUTTON -->
              <a ng-hide="schools.school" id="button-color" class="col-xs-12 col-md-12 btn btn-default btn-raised btn-sm" data-toggle="modal" data-target="#addEduModal"><i class="fa fa-plus edit-text-color"></i><span class="edit-text-color"> Add<span></a>     

            </div><!-- End of Education panel-body -->
          </div><!-- End of Education panel-default -->

          <!-- SKILLS PANEL -->
          <div class="panel panel-default panel-outline-color">
            <div class="panel-body">
              <span class="col-xs-6 col-md-6 char-left-alignment"><strong>Skills:</strong>{{skills}} >>replace w/ select boxes</span>
              
              <!-- EDIT - MODAL BUTTON -->
              <span ng-hide="!skills" class="col-xs-6 col-md-6 char-right-alignment">
                <a class="btn btn-warning btn-sm button-margin" id="button-color" data-toggle="modal" data-target="#editSkillsModal"><i class="fa fa-pencil-square-o fa-lg"></i> Edit</a>
              </span>

              <!-- ADD - TOGGLE MODAL BUTTON -->
              <a ng-hide="skills" id="button-color" class="col-xs-12 col-md-12 btn btn-default btn-raised btn-sm" data-toggle="modal" data-target="#addSkillsModal"><i class="fa fa-plus edit-text-color"></i><span class="edit-text-color"> Add<span></a>
            
            </div>
          </div>



          <!-- WORK EXPERIENCE PANEL -->
          <div class="panel spanel-default panel-outline-color">
            <div class="col-xs-12 col-md-12 panel-heading panel-heading-bottom-spacing" id="panel-heading-color">
              <h3 class="col-xs-6 col-md-6 panel-title char-left-alignment panel-title-center">Work Experience</h3>

              <!-- EDIT - MODAL BUTTON -->
              <span class="col-xs-6 col-md-6 char-right-alignment">
                <a class="btn btn-warning btn-sm button-margin" id="button-color" data-toggle="modal" data-target="#editWorkHistoryModal"><i class="fa fa-pencil-square-o fa-lg"></i> Edit</a>
              </span>
            </div>

            <!-- WORK PANEL BODY -->
            <div class="panel-body">
              
              <!-- WORK BATCH -->
              <div ng-repeat="workHistory in workHistory">
                <div class="col-md-12 char-left-alignment input-underline">
                  <span class="panel-sub-title">{{workHistory.employer_name}}</span>
                </div>
                <!-- WORK POSITON COLUMN -->
                <div class="col-xs-12 col-md-6 char-left-alignment">  
                  <p>
                    <span>{{workHistory.position_title}} | {{workHistory.location_city}}, {{workHistory.location_state}}</span>
                  </p>
                </div>
                <!-- WORK YEARS COLUMN -->
                <div class="col-xs-12 col-md-6">
                  <p class="char-right-alignment">
                    <span>{{workHistory.employment_start_date}}  to  {{workHistory.employment_end_date}}</span>
                  </p>
                </div>
                <!-- POSITION SUMMARY -->
                <div class="col-md12">
                    <span>{{workHistory.position_summary}}</span>
                </div>
                <span class="col-xs-12 col-md-12 batch-item-spacing"></span>

              </div><!-- End of Work Batch -->

              <!-- TOGGLE MODAL BUTTON -->
              <a ng-hide="workHistory.employer_name" id="button-color" class="col-xs-12 col-md-12 btn btn-default btn-raised btn-sm" data-toggle="modal" data-target="#addWorkHistoryModal"><i class="fa fa-plus edit-text-color"></i><span class="edit-text-color"> Add<span></a>

               <div class="col-xs-12 col-md-3 char-right-alignment row-bottom-spacing" nostyle="border: 2px dashed red;">
                
                      <label for="employment_end_date" class="sr-only"></label> 
                      <input type="date" class="form-control"
                             datepicker-popup 
                             ng-model="workHistory.employment_end_date"
                             current-text="workHistory.employment_end_date" 
                             is-open="opened" 
                             min-date="minDate" 
                             max-date="'2015-06-22'" 
                             datepicker-options="dateOptions" 
                             date-disabled="disabled(date, mode)" 
                             ng-required="true" 
                             close-text="Close"
                             id="form-input-underline" 
                             nostyle="border: 2px dashed green;" />
                </div>

            </div><!-- End of Work Panel Body -->
          </div><!-- End of Work Experience Panel -->

        </div><!-- End of Content Panel col-sizing -->
      </div><!-- End of Content Panel Row -->


    </div><!-- end of ng-show -->
  </div>
</div>
<div ng-include="'views/consultants/partials/editEducationTmpl.html'"></div>
<div ng-include="'views/consultants/partials/editSkillsTmpl.html'"></div>
<div ng-include="'views/consultants/partials/editSummaryTmpl.html'"></div>
<div ng-include="'views/consultants/partials/editWorkHistoryTmpl.html'"></div>

<div ng-include="'views/consultants/partials/addEducationTmpl.html'"></div>
<div ng-include="'views/consultants/partials/addSkillsTmpl.html'"></div>
<div ng-include="'views/consultants/partials/addSummaryTmpl.html'"></div>
<div ng-include="'views/consultants/partials/addWorkHistoryTmpl.html'"></div>
