
<span class="center-content">
  

  <form class="col-xs-12 col-md-8">
    <h3 class="title">Update Your Profile</h3><br>
    <div class="container panel panel-default col-sm-12 .col-md-12" styles="border: 2px dashed red;">

      <div class="panel-body">
        <span><i class="fa fa-user fa-2x"> </i> Profile Information</span><br><br>
        <div class="input-group col-xs-12">
          <label for="representative-first-name" class="sr-only"></label>
          <input type="text" class="form-control floating-label" id="input-underline" placeholder="First Name: {{consultant.first_name}}" required>
        </div><br>

        <div class="input-group col-xs-12">
          <label for="representative-last-name" class="sr-only"></label>
          <input type="text" class="form-control floating-label" id="input-underline" placeholder="Last Name: {{consultant.last_name}}" required>
        </div><br>

        <div class="input-group col-xs-12">
          <label for="phone_number" class="sr-only"></label>        
          <input type="tel" class="form-control floating-label" id="input-underline" placeholder="Phone: {{consultant.phone_number}}" required>
        </div><br>

        <div class="col-xs-12 update-cons-elements">
          <span>Email:</span>   
          <span>{{consultant.email}}</span>
        </div><br>
      </div>


      <div class="panel-body">
        <div class="input-group col-xs-12">
          <label for="city" class="sr-only"></label>
          <input type="text" class="form-control floating-label" id="input-underline" placeholder="City: {{consultant.location.city}}" required>
        </div><br>

        <div class="input-group col-xs-12">
          <label for="state" class="sr-only"></label>        
          <input type="text" class="form-control floating-label" id="input-underline" placeholder="State: {{consultant.location.state}}" required>
        </div><br>

        <div class="input-group col-xs-12">
          <label for="zip_code" class="sr-only"></label>        
          <input type="text" class="form-control floating-label" id="input-underline" placeholder="Zip Code: {{consultant.location.zip_code}}">
        </div><br>

        <div class="input-group col-xs-12">
          <label for="country" class="sr-only"></label>        
          <input type="text" class="form-control floating-label" id="input-underline" placeholder="Country: {{consultant.location.country}}" required>
        </div><br>
      </div>

    <div class="center-content">
      <input type="submit" value="Update" class="btn btn-danger">
    </div><br><!-- End of Container -->
  </form>

</span>

<script>
  $(document).ready(function() {
    // This command is used to initialize some elements and make them work properly
    $.material.init();
  });
</script>