/*
 * {
  border: 1px dashed blue;
}
*/

/*** GLOBAL STYLES ***/


/* Background Color */
body {
  background: white;/*#F3F3F3;*/

}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

/* Titles Text Weight & Border */
.titles-styling {
  font-weight: 500;
  border-bottom:  2px solid #ECECEC;
  padding-bottom: 5px;
}

/* Centers Text Titles */
.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Centers Content */

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;  
}

/* Aligns Characters to left */
.char-left-alignment {
  padding-left: 0;
}

/* Aligns Characters to right */
.char-right-alignment {
  text-align: right;
}


/* Creates Border Underline */
.input-underline {
  border-bottom: 3px solid #ECECEC;
}

/*** NAVBAR ***/
.brand-style {
  font-weight: 500;
}

.nav-spacing {
  padding-top: 80px;
}

.background {
  background-color: #3b5bb3; #4E5D6C; #3B4146; #311B92;*/
}

/*** MAIN PAGE LAYOUT ***/
.main-background-section {
  width: 100%;
  padding: 150px 0;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/energy-workers.jpg") no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.main-text-title {
  display: flex;
  align-items: center;
  justify-content: center;  
  color: white;
  font-size: 50px;
  font-style: ultra-bold;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.main-text-subTitle {
  display: flex;
  align-items: center;
  justify-content: center;  
  color: white;
  font-size: 20px;
  font-style: ultra-bold;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.spacing-between-buttons {
  padding: 8px;
}

/*** BROWSE/PROJECTS SCROLLING LIST ***/
/* Content Box */
#scrollArea {
  height: 750px;
  overflow: auto;
}

.list-styling:hover {
  background-color: #ECECEC;
}

.list-group-border {
  border: 0;
}

.list-group-separator {
  border-bottom:  1px solid #ECECEC;
}

.content-box-style {
  background-color: #ECECEC;
}


/*** BROWSE/PROJECTS SELECTED PROJECT ***/
.panel-spacing {
  margin-top: 20px;
}

.budget-title-styling {
  font-size: 20px;
}

.budget-box {
  font-size: 40px;
  font-weight: 300;  
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  background-color: #f1f1f1;
}



/*** REGISTER CONSULTANT & COMPANY VIEWS ***/

.registration-panel-top-spacing {
  padding-top: 40px;
}



/*** INPUT UNDERLINE FOR ALL FORMS **/
#form-input-underline {
  border-bottom: 2px solid #ECECEC;
}

.row-bottom-spacing {
  margin-bottom: 2px;
}


/*** CONSULTANT PROFILE VIEW ***/
.location-spacing {
  margin-top: 30px;
}

.thumbnail {
  border-style: none; 
}

.star-color {
  color: gold;
  margin-left: 2px;
}

.profile-title-style {
  font-weight: 600;
}

.profile-info-spacing {
  margin-top: 30px;
}

.panel-title {
  font-size: 18px;
}

.batch-item-spacing {
  margin-bottom: 25px;
}

/** UPDATE CONSULTANT VIEW **/

.panel-outline-color {
  box-shadow: 0 0 30px #3F51B5;
}


/** UPDATE CONSULTANT CONTACT INFO VIEW **/

.update-cons-elements {
  padding-left: 5px;
  color: grey;
}

