
/* * {
  border: 1px dashed blue;
}
*/

/*** GLOBAL STYLES ***/


/* Background Color */
body {
  background: white;/*#F3F3F3;*/

}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

/* Titles Text Weight & Border */
.titles-styling {
  font-weight: 500;
  border-bottom:  2px solid #ECECEC;
  padding-bottom: 5px;
}

/* Centers Text Titles */
.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Centers Content */

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;  
}

/*** NAVBAR ***/
.brand-style {
  font-weight: 500;
}

.nav-spacing {
  padding-top: 80px;
}

.background {
  background-color: #3b5bb3; /*#4E5D6C;/*#3B4146; #311B92;*/
}

/*** MAIN PAGE LAYOUT ***/
.main-background-section {
  width: 100%;
  padding: 150px 0;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/energy-workers.jpg") no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.main-text-title {
  display: flex;
  align-items: center;
  justify-content: center;  
  color: white;
  font-size: 50px;
  font-style: ultra-bold;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.main-text-subTitle {
  display: flex;
  align-items: center;
  justify-content: center;  
  color: white;
  font-size: 20px;
  font-style: ultra-bold;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.main-bottom-spacing {
  margin-top: 100px;
}

/*** BROWSE/PROJECTS SCROLLING LIST ***/
/* Content Box */
#scrollArea {
  height: 700px;
  overflow: auto;
}

.list-styling:hover {
  background-color: #ECECEC;
}

.list-group-border {
  border: 0;
}

.list-group-separator {
  border-bottom:  1px solid #ECECEC;
}

.content-box-style {
  background-color: #ECECEC;
}


/*** BROWSE/PROJECTS SELECTED PROJECT ***/
.panel-spacing {
  margin-top: 20px;
}

.budget-title-styling {
  font-size: 20px;
}

.budget-box {
  font-size: 40px;
  font-weight: 300;  
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  background-color: #f1f1f1;
}

.char-left-alignment {
  padding-left: 0;
}

/**** REGISTER COMPANY VIEW ***/

.input-underline {
  border-bottom: 3px solid #ECECEC;
}

#input-underline {
  border-bottom: 3px solid #ECECEC;
}


